@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.toast-container {
   position: fixed;
   height: 5rem;
   width: fit-content;
   bottom: 2rem;
   right: 2rem;
   overflow: hidden;
}
